body {
    background-image: url('http://m.qpic.cn/psc?/db5d9737-02bd-4772-8ec9-41bab24faa7f/ruAMsa53pVQWN7FLK88i5uGJ3S.gDoHklKuKKgHjQt932AjwdlfrWIhq2cRUdwXtZnZnhT8IWXwVvldkD0Isrhw2y9jnIa6DANjM*O32IVg!/b&bo=gAc4BIAHOAQDByI!&rf=viewer_4');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }